:root {
  --h: 2em;
  --w: 2em;
}

.Squares {
  display: inline-block;
  margin: 0;
  padding: 0em;
  flex-grow: 0;
  width: var(--w);
  height: var(--h);
}

.Squares div {
  width: 100%;
  height: 100%;
  font-size: 0rem;
  text-align: center;
  color: aliceblue;
  font-size: 1em;
}

.Squares .start {
  background-color: #4c5fd7;
  padding: 0em;
}

.Squares .flagged {
  background-color: #afa5c0;
}

.Squares .cleared {
  background-color: black;
}

.Squares .bomb {
  background-color: red;
}
