.timer {
  padding: 0.5em;
  margin: 1em;
  width: 8em;
  height: 1.5em;
  color: #e9e1e1;
  font-weight: 600;
  text-transform: capitalize;
  direction: ltr;
  text-align: center;
  background-color: #2b2b62;
  position: static;
  z-index: inherit;
  float: revert;
  display: inline-block;
}
