.board {
  align-self: start;
  align-content: start;
  justify-content: start;
  border: none;
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.board:focus {
  outline: none;
}

.game {
  height: 100%;
  background-color: #7987e6;
  margin: 0;
  border: #9696f7;
  border-style: solid;
}
.board-top {
  padding: 0em 0em 1em;
  border-bottom: solid  #9696f7;
}

.modes_panel {
  display: flex;
  align-self: start;
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5f4898;
  padding: 1em;
}