.root {
}
.field {
  align-self: end;
  order: -2;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  align-content: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  display: block;
  width: 15em;
  height: 15em;
  overflow: hidden;
  justify-items: baseline;
}
