:root {
  --f-size: 1em;
  --w: 30em;
  --h: 30em;
  --block-size: 2em;
}

.field {
  display: flex;
  overflow: auto;
  justify-items: stretch;
  align-content: space-between;
  justify-content: space-around;
  margin: auto;
  background-color: #312929;
  border-radius: 1em;
  padding: 0.75em;

  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  font-size: var(--f-size);
  width: calc(var(--w)*2);
  height: calc(var(--h)*2);
}
